<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.dao.EmployeeMapper">
  <resultMap id="BaseResultMap" type="com.hao.bean.Employee">
    <id column="emp_id" jdbcType="BIGINT" property="empId" />
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="emp_name" jdbcType="VARCHAR" property="empName" />
    <result column="emp_age" jdbcType="INTEGER" property="empAge" />
    <result column="emp_sex" jdbcType="CHAR" property="empSex" />
    <result column="emp_address" jdbcType="VARCHAR" property="empAddress" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    emp_id, dept_id, emp_name, emp_age, emp_sex, emp_address, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_employee
    where emp_id = #{empId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_employee
    where emp_id = #{empId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hao.bean.Employee">
    insert into t_employee (emp_id, dept_id, emp_name, 
      emp_age, emp_sex, emp_address, 
      create_time, update_time)
    values (#{empId,jdbcType=BIGINT}, #{deptId,jdbcType=BIGINT}, #{empName,jdbcType=VARCHAR}, 
      #{empAge,jdbcType=INTEGER}, #{empSex,jdbcType=CHAR}, #{empAddress,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hao.bean.Employee">
    insert into t_employee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="empId != null">
        emp_id,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="empName != null">
        emp_name,
      </if>
      <if test="empAge != null">
        emp_age,
      </if>
      <if test="empSex != null">
        emp_sex,
      </if>
      <if test="empAddress != null">
        emp_address,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="empId != null">
        #{empId,jdbcType=BIGINT},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=BIGINT},
      </if>
      <if test="empName != null">
        #{empName,jdbcType=VARCHAR},
      </if>
      <if test="empAge != null">
        #{empAge,jdbcType=INTEGER},
      </if>
      <if test="empSex != null">
        #{empSex,jdbcType=CHAR},
      </if>
      <if test="empAddress != null">
        #{empAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hao.bean.Employee">
    update t_employee
    <set>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=BIGINT},
      </if>
      <if test="empName != null">
        emp_name = #{empName,jdbcType=VARCHAR},
      </if>
      <if test="empAge != null">
        emp_age = #{empAge,jdbcType=INTEGER},
      </if>
      <if test="empSex != null">
        emp_sex = #{empSex,jdbcType=CHAR},
      </if>
      <if test="empAddress != null">
        emp_address = #{empAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where emp_id = #{empId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hao.bean.Employee">
    update t_employee
    set dept_id = #{deptId,jdbcType=BIGINT},
      emp_name = #{empName,jdbcType=VARCHAR},
      emp_age = #{empAge,jdbcType=INTEGER},
      emp_sex = #{empSex,jdbcType=CHAR},
      emp_address = #{empAddress,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where emp_id = #{empId,jdbcType=BIGINT}
  </update>
  
  <select id="getAll" parameterType="com.hao.bean.Employee" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_employee
    where 1=1
    <if test="empName != null">
      and emp_name LIKE CONCAT('%',#{empName, jdbcType=VARCHAR},'%' )
    </if>
  </select>
</mapper>